@font-face {
  font-family: 'stag';
  src: url('fonts/Stag/Stag-Book.otf') format('otf');
}

@font-face {
  font-family: 'stagBold';
  src: url('fonts/Stag/Stag-Medium.otf') format('otf');
}

@font-face {
  font-family: 'prestige';
  src: url('fonts/Prestige/PrestigeEliteStd-Bd.otf') format('otf');
}


html {
  background: black;
  color: white;
     -webkit-font-smoothing: antialiased;
     text-shadow: rgba(0,0,0,.01) 0 0 1px;
     font-size: 16px;
font-family: 'prestige', "Lucida Console", Monaco, monospace;
}

body {
    margin: 0;
}

header {
  height: 20vh;
  padding: 0;
  font-size: 0.875rem;
  font-family: 'stag', "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
}

p {
  -webkit-margin-before: 0;
-webkit-margin-after: 0;
padding-bottom: 0;
text-align: left;
}

h4 {
  display: block;
-webkit-margin-before: 0.4em;
-webkit-margin-after: 0.8em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
font-size: 2.179rem;
font: 'stagBold';
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
}


.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerDetailContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.headerDetail {
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
}


.wrapper {
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 1em 0;
}

.logo {
  height: 60px;
  width: 180px;
  align-self: flex-start;
  /*
  background-size: cover;
  background-image: url('hero.jpg')*/
}

.time {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-right: 3.33em;
  align-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.hero {
  /*background-image: url('hero_dark.jpg');*/
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta {
  /* Default */
  text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: buttonface;
    border-image: initial;
    font: 1rem system-ui;
/*custom*/
font-family: 'prestige', "Lucida Console", Monaco, monospace;
background: white;
color: black;
padding: 0.75em 1.5em;
margin-top: 2em;
border: 2px solid black;
transition: all 0.333s ease;
display: none;
}

.cta:hover {
  background: black;
  color: white;
  border: 2px solid white;
  transition: all 0.333s ease;
  cursor: pointer;
}

.cta:focus,
.cta:active {
  outline: none;
}

.detail {
  height: 100%;
  width: 100vw;
}

.info {
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.detailWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.oneHalfa {
  text-align: center;
}

.map {
  opacity: 0.85;
  transition: all 0.3s ease;
width: 600px;
width: 600px;
}

.map:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

figcaption {
  font-size: 0.8em;
}

.wrap {
  width: 90%;
  margin: 0 auto;
}

.infoDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.text {
  margin-bottom: 1em;
  line-height: 1.333;

}

.text ul {
  list-style: none;
  -webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0;

display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
}

.text ul li {
  width: 100%;
  padding: 0.25em 0;
}

.cash {
  color: lightgreen;
}

.blue {
  color: darkgreen;
  opacity: 1;
}

.red {
  color: darkgreen;
  opacity: 1;
}

@media (max-width: 991px) {
  .one,
  .two {
  width: 100%;
}
  .wrapper {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.headerWrapper {
  justify-content: space-around;
  width: 100%;
}
}

@media (max-width: 723px ) {
  .logo {
    display: none;
  }

}

@media (max-width: 500px) {
  .header {
  }
  .address {
    margin-right: 0;
  }
  .text ul li {
    width: 100%;
    padding-bottom: 1em;
  }
}

@media (max-width: 666px) {
  header {
    height: 10vh;
  }
  .address {
    display: none;
  }

  .logoImg {
    height: auto;
    width: 55%;
    margin: 0 auto;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .map {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 700px) {
  .cta {
    display: block;
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
